{% extends 'base_layout_employee.html' %}


{% load static %}
{% block stylecontent %}
   <style>
      .foot {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      }
   </style>
   <link rel="stylesheet" href="/static/common-styles.css">

       <style>
        a:hover {
            text-decoration: none;
        }

        .foot {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
    <link rel="stylesheet" href="/static/common-styles.css">

{% endblock %}


{% block bodycontent %}
    <div class="container text-center">
        {% if user.is_authenticated %}
            <h1>Willkommen {{ user.username }}!</h1>
            <h4><em>Ihnen kann man vertrauen.</em></h4>
        {% else %}
            <h1>Willkommen bei Mega Gute Bank</h1>
            <h4><em>Uns können Sie vertrauen.</em></h4>
        {% endif %}
    </div>

    <br>

    <div class="container">
            {% if user.is_authenticated and user.is_staff == 1 %}
                <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bankkonten und -karten verwalten</h5>
                            <p class="card-text">Hier können Sie Bankkonten und -karten verwalten.</p>
                            <a href="/accounts/verwalten" class="btn btn-primary">Verwaltung</a>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-4">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">Transaktionen verwalten</h5>-->
<!--                            <p class="card-text">Sehen Sie sich hier Ihr Profil und Ihre Konten an.</p>-->
<!--                            <a href="/accounts/manage_transactions" class="btn btn-primary">Transaktionen</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bankdaten</h5>
                            <p class="card-text">{{ bankdaten.name }} Bank</p>
                            <p>BLZ: {{ bankdaten.blz }}</p>
                            <p>Bilanz: {{ bankdaten.balance }}€</p>
                            <p>Gewinn: {{ bankdaten.profit }}€</p>
                        </div>
                    </div>
                </div>
            <a href="{% url 'logout' %}"><button class="btn btn-danger btn-block" id="sign_out"><i class="fa fa-user">Log Out</i></button></a>
        {% else %}
        <a href="/accounts/register"><button class="btn btn-primary btn-block" id="acc"><i class="fa fa-user"></i> Neuen Bankaccount erstellen</button></a>
        <br>
        <a href="accounts/login/"><button class="btn btn-danger btn-block" id="sign_in"><i class="fa fa-sign-in"></i> Einloggen</button></a>
        {% endif %}
    </div>
    </div>

    <br>
{% endblock %}

{% block scriptcontent %}
            <!-- JS LIBRARIES REQUIRED -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

{% endblock %}