{% extends 'base_layout.html' %}
{% block bodycontent %}    
    <div class="container text-center">
        <h1>Kontoerstellung bei MGB</h1>
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>
    <br>
    <div class="container">
    <form method="POST">
      {% csrf_token %}
      <input id="id_tagesgeld" type="hidden" name="tagesgeld" value="0">
      {% for field in form %}
      <div id="div_{{ field.id_for_label }}">
          <label class="form-label mt-4 row" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
      </div>
      {% endfor %}
      <div class="row">
        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Erstellen</button>
      </div>
      <script>
        var kontotyp = document.getElementById("id_konto_typ");
        var tagesgeld = document.getElementById("id_tagesgeld");
        var dauer = document.getElementById("div_id_tagesgeld_dauer");
        var amount = document.getElementById("div_id_tagesgeld_amount");
        dauer.style.display = "none";
        amount.style.display = "none";

        kontotyp.addEventListener( 'change', function() {
          // if selection of kontotyp is "Tagesgeldkonto"
          if (kontotyp.value == "Tagesgeldkonto") {
            tagesgeld.value="1";
            dauer.style.display = "block";
            amount.style.display = "block";
          } else {
            tagesgeld.value="0";
            dauer.style.display = "none";
            amount.style.display = "none";
          }
        });
      </script>
    </form>
  </div>
  <p>

{% endblock %}
