{% extends 'base_layout.html' %}
{% load static %}

{% block stylecontent %}
    <style>
        #NameInfo {
          margin-top: 25px;
        }
        #AddressContainer{
          display: flex;
          justify-content: space-between;
          margin-top: 25px;
          margin-left: 0;
        }
        #PersonalText{
          display: flex;
          justify-content: space-between;
          white-space: pre;
          margin-left: 0;
          margin-right: 50px;
        }
        #sq{
            background: #ffffff;
            width: 450px;
            height: 100px;
            margin-right: 0;
            margin-top: 20px;
            vertical-align: middle;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px #c5c5c5;
        }
        #row_card{
            vertical-align: middle;
            margin-top: 10px;
        }
        #col_card{
            line-height: 2px;
        }
        #expand_container{
            margin-bottom: 10px;
        }
        #button3{
            background: #ffffff;
            width: 450px;
            height: 100px;
            margin-right: 0;
            margin-top: 20px;
            vertical-align: middle;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px #c5c5c5;
            border: 0;
        }
        .name h1 {
          font-size: 20px;
        }
        .name h2 {
          font-size: 10px;
        }
    </style>

{% endblock %}
{% block bodycontent %}


    <div class="container text-center">
        <h1>Kundenprofil für MGB</h1>
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>

    <br>

    <form>
            <div class="row text-center" style="margin-right: 0; justify-content: center; margin-top: 20px">
              <div class="img">
                  <img src="/static/images/avatar.png" id=avatar width="220px" style="border-radius: 50%">
                </div>
              <div class="infos">
                <div class="name" id="NameInfo">
                  <h1>Max Mustermann</h1>
                  <h2>@mustermann</h2>
                </div>
              </div>
              </div>
      <div class="row text-center" style="margin-top: 30px">
        <div class="col" style="margin-left: 0; margin-top: 20px">
          <h3>Persönliche Daten</h3>
          <div class="card-body" style="margin-top: 20px;margin-left: 0">
            <p>Max Mustermann</p>
            <p>Geburtsdatum: 03.10.1989</p>
            <p>Staudingerweg 9</p>
            <p>55128 Mainz</p>
            <p>Tel.: 06721 4825241</p>
            <p>E-Mail: maxmustermann@gmail.com</p>
          </div>
          </div>

        <div class="col" style="margin-left: 0; margin-top: 20px">
            <h3>Meine Konten</h3>
            <div class="row justify-content-center">
                <div class="square" id="sq">
                    <div class="row justify-content-start" id="row_card" style="vertical-align: middle">
                        <img src="/static/images/creditcard.png" id="card" style="width: 30%;height: fit-content">
                        <div class="col text-start" id="col_card">
                            <h4 style="margin-top: 15px">Giro Plus</h4>
                            <p style="font-size: 0.8rem">IBAN: DE23 5805 2800 5630 6427</p>
                        </div>
                        <img src="/static/images/expand.png" id="expand" style="width: fit-content;height:25px;margin-bottom: 10px;margin-right: 5px">
                    </div>
                </div>

                                <div class="square" id="sq">
                    <div class="row justify-content-start" id="row_card" style="vertical-align: middle">
                        <img src="/static/images/visa.png" id="card" style="width: 30%;height: fit-content;margin-top: 5px">
                        <div class="col text-start" id="col_card">
                            <h4 style="margin-top: 15px">Visa Card</h4>
                            <p style="font-size: 0.8rem">IBAN: DE45 3902 7477 8392 9183</p>
                        </div>
                        <img src="/static/images/expand.png" id="expand" style="width: fit-content;height:25px;margin-bottom: 10px;margin-right: 5px">
                    </div>
                </div>

                <button type="button" class="collapsible" id="button3">
                    <div class="row justify-content-start" id="row_card" style="vertical-align: middle">
                        <img src="/static/images/visa.png" id="card" style="width: 30%;height: fit-content;margin-top: 0">
                        <div class="col text-start" id="col_card">
                            <h4 style="margin-top: 10px">Visa Debit</h4>
                            <p style="font-size: 0.8rem">IBAN: DE45 3902 7477 8392 9183</p>
                        </div>
                        <img src="/static/images/expand.png" id="expand" style="width: fit-content;height:25px;margin-bottom: 10px;margin-right: 5px">
                    </div>
                </button>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                </div>

                </div>
            </div>

      </form>
    <br>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}