{% extends 'base_layout.html' %}
{% load static %}

{% block stylecontent %}
    <style>
        #NameInfo {
          margin-top: 25px;
        }
        #AddressContainer{
          display: flex;
          justify-content: space-between;
          margin-top: 25px;
          margin-left: 0;
        }
        #PersonalText{
          display: flex;
          justify-content: space-between;
          white-space: pre;
          margin-left: 0;
          margin-right: 50px;
        }
        #sq{
            background: #ffffff;
            width: 450px;
            height: 100px;
            margin-right: 0;
            margin-top: 20px;
            vertical-align: middle;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px #c5c5c5;
        }
        #expand_container{
            margin-bottom: 10px;
        }
        #button3{
            background: #ffffff;
            width: 100%;
            height: 100px;
            margin-right: 0;
            margin-top: 20px;
            vertical-align: middle;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px #c5c5c5;
            border: 0;
        }
        #ButtonUeberweisung{
             background: #ffffff;
             width: 200px;
             height: 40px;
             border-radius: 10px;
             box-shadow: 0 4px 8px #c5c5c5;
             margin-left: 215px;
             margin-top: 20px;
             display: flex;
             justify-content: center;
             align-content: center;
             flex-direction: column;
             color: salmon;
        }
        #ButtonKuendigen{
             background: #ffffff;
             width: 200px;
             height: 40px;
             border-radius: 10px;
             box-shadow: 0 4px 8px #c5c5c5;
             margin-left: 215px;
             margin-top: 20px;
             display: flex;
             justify-content: center;
             align-content: center;
             flex-direction: column;
             color: salmon;
        }
        #ButtonUeberweisung:hover{
            background: salmon;
            color: white;
            box-shadow: 0 4px 8px salmon;
        }
        #ButtonKuendigen:hover{
            background: salmon;
            color: white;
            box-shadow: 0 4px 8px salmon;
        }
        #ButtonErstellen{
             background: #ffffff;
             width: 200px;
             height: 40px;
             border-radius: 10px;
             box-shadow: 0 4px 8px #c5c5c5;
             margin-top: 20px;
             display: flex;
             justify-content: center;
             align-content: center;
             flex-direction: column;
             color: #94fa72;
            margin-left: 80px;
        }
        #ButtonErstellen:hover{
            background: #94fa72;
            color: white;
            box-shadow: 0 4px 8px #94fa72;
        }
        #row1{
             margin-right: 0;
             justify-content: center;
             margin-top: 20px;
             width: auto;
        }
        #row2{
             width: 100%;
             margin-top: 30px;
             alignment: center
        }
        #col1{
             margin-top: 20px
        }
        #col1-card-body{
            margin-top: 20px;
            margin-left: 0
        }
        #col2{
            margin-left: 0;
            margin-top: 20px
        }
        #KontoErstellen{
             width: 400px;
             height: 150px;
             margin-top: 10px
        }
        #col-Konten{
             margin-top: 5px;
             alignment: center
        }
        #card-Konten{
             width: 450px;
             height: fit-content;
             margin-top: 0;
             background: white;
             border-radius: 10px;
             box-shadow: 0 4px 8px #c5c5c5;
             border: 0;
             margin-bottom: 20px
        }
        #card-header-Konten{
             vertical-align: middle;
             width: 100%;
             height: 80px;
             border-radius: 10px;
             background: white
        }
        #btn-collapse-Konten{
             background: transparent;
             width: 100%;
             margin-left:-30px;
             margin-top: -17px;
             text-decoration: none
        }
        #row-header-Konten{
            vertical-align: middle;
            margin-top: 10px;
            background: transparent
        }
        #logo-Konten{
            width: 15%;
            height: fit-content;
            margin-top: 0
        }
        #col-card-Konten{
            line-height: 2px;
            margin-top: -4px
        }
        #expand-logo-Konten{
            width: fit-content;
            height:25px;
            margin-bottom: 10px;
            margin-right: -30px
        }
    </style>
{% endblock %}
{% block bodycontent %}

    <div class="container text-center">
        <h1>Kundenprofil für MGB</h1>
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>

    <br>

    <form>
        <div class="row text-center" id="row1">
          <div class="img">
              {% if person.profile_picture %}
              <img src={{person.profile_picture.url}} id=avatar width="220px" style="border-radius: 50%">
              {% endif %}
            </div>
          <div class="infos">
            <div class="name" id="NameInfo">
              <h1 style="font-size: 1.8rem">{{person.first_name}} {{person.last_name}}</h1>
              <h2 style="color: #727272; font-size: 1.2rem">@{{person.username}}</h2>
            </div>
          </div>
      </div>
      <div class="row" id="row2">
        <div class="col text-center" id="col1">
          <h3>Persönliche Daten</h3>
          <div class="card-body" id="col1-card-body">
              {% if person.first_name %}
            <p>{{person.first_name}} {{person.last_name}}</p>
              {% endif %}
              {% if person.birthday %}
            <p>Geburtsdatum: {{person.birthday}}</p>
              {% endif %}
              {% if person.address %}
            <p>{{person.address}}</p>
              {% endif %}
              <!--<p>55128 Mainz</p>-->
              {% if person.phone_number %}
            <p>Tel.: {{person.phone_number}}</p>
              {% endif %}
            <p style="margin-bottom: 50px">E-Mail: {{person.email}}</p>
          </div>
          </div>

        <div class="col text-center" id="col2">
            <h3 style="margin-bottom: 20px">
                Meine Konten
            </h3>

            {% if accounts.count == 0 %}
                <div class="row d-flex justify-content-center">
                    <div id="KontoErstellen">
                        <p>Aktuell gibt es nichts zu sehen.</p>
                        <p>Beantragen sie noch heute ein neues Konto.</p>
                        <a class="btn btn-primary" id="ButtonErstellen" href="/accounts/konto/erstellen">
                                <p style="margin-top: 16px">Konto erstellen</p>
                            </a>

                    </div>
                    </div>
            {% else %}
            {% for account in accounts %}
            <div class="col text-center d-flex justify-content-center" id="col-Konten">
                <div class="card" id="card-Konten">
                    <div class="card-header" id="card-header-Konten">
                        <button class="btn btn-link" id="btn-collapse-Konten" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"  aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            <div class="row justify-content-start" id="row-header-Konten">
                                <img src="/static/images/{{account.type}}.png" id="logo-Konten">
                                    <div class="col text-start" id="col-card-Konten">
                                        <h4 id="Account-Name-Konten" style="margin-top: 10px; font-family: 'Product Sans',serif">
                                            {{account.name}}</h4>
                                        <p id="IBAN-Konten" style="font-size: 0.8rem">IBAN: {{account.iban}}</p>
                                    </div>
                                <img src="/static/images/expand.png" id="expand-logo-Konten">
                            </div>
                        </button>
                    </div>

                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="card-header-Konten">
                    <div class="card-body">
                        <p>Betrag: {{account.amount}}€</p>
                        {% if account.type == 0 %}
                            <p>Typ: Sparkonto</p>
                        {% elif account.type == 1 %}
                            <p>Typ: Girokonto</p>
                        {% elif account.type == 2 %}
                            <p>Typ: Tagesgeldkonto</p>
                        {% endif %}
                        <p>Zinsen: {{ account.interest }} % p.a.</p>
                        <p>Negativzinsen: {{ account.negative_interest }} % p.a.</p>
                        <p>
                            {% if account.status == 0 %}
                            <p style="color: red">
                                Status: inaktiv
                            </p>
                            {% else %}
                            <p style="color: limegreen">
                                Status: aktiv
                            </p>
                            {% endif %}
                        {% if account.type == 2 %}
                        {% for t in tagesgeld %}
                        {% if t.iban == account.iban %}
                        <p>Dauer Tagesgeld: {{t.time_period}} Jahre</p>
                        {% if account.status == 1 %}
                            <a class="btn btn-primary" id="ButtonKuendigen" href="/accounts/konto/kuendigen">
                                <p style="margin-top: 16px">Kündigen</p>
                            </a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% if account.type == 1 %}
                        {% if account.iban in list %}
                        <div style="width: 100%;height:180px;background: #efe3d1;display: flex; justify-content: left; border-radius: 10px">
                            <img src="{% static 'images/gold-karte.png' %}" style="width: 200px;height: max-content;margin-left: -22px">
                            <h4 style="margin-top: 15px">Ihre Girocard.</h4>
                            {% for card in cards %}
                            {% if card.account_id == account.iban %}
                            <div class="col" style="width: 300px; height: 200px; margin-top: 50px; margin-left: -205px">
                                <div style="display: flex; justify-content: left; margin-bottom: -10px">
                                    <img src="{% static 'images/credit_card.png' %}" style="width: 25px;height: max-content">
                                    <p style="margin-left: 5px; margin-top: 2px; font-size: 0.9rem">{{ card.account_id }}</p>
                                </div>
                                <!--<div class="row" style="margin-top: 5px; height: 20px; display: flex; vertical-align: middle">-->
                                <div style="display: flex; justify-content: left; margin-bottom: -10px">
                                    <img src="{% static 'images/pin.svg' %}" style="width: 25px;height: max-content">
                                    <p style="margin-left: 5px; margin-top: 2px; font-size: 0.9rem">{{ card.pin }}</p>
                                </div>
                                <div style="display: flex; justify-content: left; margin-bottom: -10px">
                                    {% if card.state == 0 %}
                                    <img src="{% static 'images/cancel.svg' %}" style="width: 25px;height: max-content">
                                    <p style="margin-left: 5px; margin-top: 2px; font-size: 0.9rem; color: crimson">
                                        inaktiv
                                        </p>
                                        {% elif card.state == 1 %}
                                    <img src="{% static 'images/check.svg' %}" style="width: 25px;height: max-content">
                                    <p style="margin-left: 5px; margin-top: 2px; font-size: 0.9rem; color: limegreen">
                                        aktiv
                                        </p>
                                        {% endif %}
                                    </p>
                                </div>
                                <div style="display: flex; justify-content: left">
                                    <img src="{% static 'images/hourglass_empty.svg' %}" style="width: 25px;height: max-content">
                                    <p style="margin-left: 5px; margin-top: 2px; font-size: 0.9rem">{{ card.expiration_date }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <p>Karte: nicht verfügbar -> <a class="btn btn-link" data-toggle="modal" data-target="#modal{{account.iban}}" style="color: #6f42c1; text-decoration: none; background: transparent">jetzt beantragen</a></p>
                        {% endif %}
                            <a class="btn btn-primary" id="ButtonUeberweisung" href="/accounts/konto/uberweisen">
                                <p style="margin-top: 16px">Überweisung</p>
                            </a>
     <div class="modal fade" id="modal{{account.iban}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modaltitle{{account.iban}}">Karte beantragen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Ihre Karte wird von einem Mitarbeiter nach 1-2 Werktagen freigeschaltet.</p>
              <p>Den Status ihrer Karte können sie jederzeit in ihrem Profil überprüfen.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zurück</button>
                    {% csrf_token %}
                  <button class="btn btn-primary" type="submit" name="create_card" value={{account.iban}}>
                      Jetzt Karte beantragen
                  </button>
          </div>
        </div>
      </div>
    </div>
                        {% endif %}

                    </div>
                </div>
                </div>


            </div>

                        {% endfor %}
            {% endif %}

        </div>
      </div>
    </form>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

calculate = function()
{
    var resources = document.getElementById('a1').value;
    var = 100;
    document.getElementById('a3').value = parseInt(resources)*parseInt(minutes);

   }

</script>

<script type="text/javascript" language="javascript">
$("form").submit(function () {
    // prevent the default GET form behavior (name-value pairs)
    event.preventDefault();

    // Get the action attribute
    var action = $("form").attr("action").toLowerCase();

    // For each form element found, replace {elementName} in the action attribute to build a URL from template
    var values = $("form").serialize().split("&");
    for (var i = 0; i < values.length; i++) {
        var tokens = values[i].split("=");
        action = action.replace("{" + tokens[0].toLowerCase() + "}", tokens[1]);
    }

    // Send the user off to the URL w/ template elements replaced
    window.location.href = action;
});
</script>

{% endblock %}