{% extends 'base_layout.html' %}
{% load static %}

{% block stylecontent %}
    <style>
        #NameInfo {
          margin-top: 25px;
        }
        #AddressContainer{
          display: flex;
          justify-content: space-between;
          margin-top: 25px;
          margin-left: 0;
        }
        #PersonalText{
          display: flex;
          justify-content: space-between;
          white-space: pre;
          margin-left: 0;
          margin-right: 50px;
        }
        #sq{
            background: #ffffff;
            width: 450px;
            height: 100px;
            margin-right: 0;
            margin-top: 20px;
            vertical-align: middle;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px #c5c5c5;
        }
        #row_card{
            vertical-align: middle;
            margin-top: 10px;
            background: white;
        }
        #col_card{
            line-height: 2px;
        }
        #expand_container{
            margin-bottom: 10px;
        }
        #button3{
            background: #ffffff;
            width: 100%;
            height: 100px;
            margin-right: 0;
            margin-top: 20px;
            vertical-align: middle;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 0 4px 8px #c5c5c5;
            border: 0;
        }
    </style>

{% endblock %}
{% block bodycontent %}

    <div class="container text-center">
        <h1>Kundenprofil für MGB</h1>
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>

    <br>

    <form>
            <div class="row text-center" style="margin-right: 0; justify-content: center; margin-top: 20px; width: auto">
              <div class="img">
                  <img src={{person.profile_picture.url}} id=avatar width="220px" style="border-radius: 50%">
                </div>
              <div class="infos">
                <div class="name" id="NameInfo">
                  <h1>{{person.first_name}} {{person.last_name}}</h1>
                  <h2>@{{person.username}}</h2>
                </div>
              </div>
              </div>
      <div class="row" style="margin-top: 30px; alignment: center">
        <div class="col text-center" style="margin-top: 20px">
          <h3>Persönliche Daten</h3>
          <div class="card-body" style="margin-top: 20px;margin-left: 0">
            <p>{{person.first_name}} {{person.last_name}}</p>
            <p>Geburtsdatum: {{person.birthday}}</p>
            <p>{{person.address}}</p>
              <!--<p>55128 Mainz</p>-->
            <p>Tel.: {{person.phone_number}}</p>
            <p>E-Mail: {{person.email}}</p>
          </div>
          </div>

        <div class="col text-center" style="margin-left: 0; margin-top: 20px">
            <h3 style="margin-bottom: 20px">Meine Konten</h3>
            {% for account in accounts %}
            <div class="col text-center d-flex justify-content-center" style="margin-top: 5px; alignment: center">
                <div class="card" style="width: 450px;height: fit-content;margin-top: 0;background: white;border-radius: 10px;box-shadow: 0 4px 8px #c5c5c5;border: 0;margin-bottom: 20px">
                    <div class="card-header" style="vertical-align: middle;width: 100%;height: 80px;border-radius: 10px;background: white">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"  aria-expanded="true" aria-controls="collapse{{ forloop.counter }}" style="background: transparent; width: 100%;margin-left:-30px;margin-top: -17px;text-decoration: none">
                            <div class="row justify-content-start" id="row_card" style="vertical-align: middle;background: transparent">
                                <img src="/static/images/{{account.type}}.png" id="card" style="width: 15%;height: fit-content;margin-top: 0">
                                    <div class="col text-start" id="col_card" style="margin-top: -5px">
                                        <h4 id=AccountName style="margin-top: 10px; font-family: 'Product Sans',serif">
                                            {{account.name}}</h4>
                                        <p id="IBAN" style="font-size: 0.8rem">IBAN: {{account.iban}}</p>
                                    </div>
                                <img src="/static/images/expand.png" id="expand" style="width: fit-content;height:25px;margin-bottom: 10px;margin-right: -30px">
                            </div>
                        </button>
                    </div>

                <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                        <p>Betrag: {{account.amount}}</p>
                        <p>Typ: {{account.type}}</p>
                        <p>Zinsen: {{account.interest}}</p>
                        <p>Negativzinsen: {{account.negative_interest}}</p>
                        <p>Status: {{account.status}}</p>
                    </div>
                </div>
                </div>


            </div>

            {% endfor %}

        </div>
      </div>
    </form>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

{% endblock %}