{% extends 'base_layout.html' %}
{% block bodycontent %}    
    <div class="container text-center">
        <h1>Registrierungsseite für MGB</h1>
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>
    
    <br>
    <div class="container">
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="row">
          <label class="form-label mt-4">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.help_text }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="row">
        <button type="submit" class="btn btn-danger" style="margin-top: 20px">Registrieren</button>

      </div>
    </form>
  </div>

{% endblock %}
