{% extends 'base_layout.html' %}
{% block bodycontent %}    
    <div class="container text-center">
        <h1>Registrierungsseite für MGB</h1>
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>
    <br>
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.errors }}
      </div>
    {% endif %}
    <div class="container">
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        {% if forloop.counter0|divisibleby:2 %}
          <div class="form-group row">
            <div class="col">
            <label class="form-label mt-4" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            </div>
        {% else %}
            <div class="col">
            <label class="form-label mt-4" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="row">
        <button type="submit" class="btn btn-danger" style="margin-top: 20px">Registrieren</button>
      </div>
    </form>
    <p>
  </div>
<!--TODO: Footer anpassen-->
{% endblock %}
