{% extends 'base_layout.html' %}
{% load static %}
{% block bodycontent %}

    <div class="container text-center">
        {% if trans.standing_order %}
                    <h1>Transaktionsdetails Ihres Dauerauftrags {{trans.id}}</h1>
        {%else%}
        <h1>Transaktionsdetails Ihrer Überweisung {{trans.id}}</h1>
        {%endif%}
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>
    <br>
    <div class="container">
    <!-- List transaction details in cards -->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Sender</div>
                <div class="card-body">
                    <p class="card-text">Name: {{sender.first_name}} {{sender.last_name}}</p>
                    <p class="card-text">iBAN: {{trans.sending_account}}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Empfänger</div>
                <div class="card-body">
                    {%if receiver.first_name %}
                        <p class="card-text">Name: {{receiver.first_name}} {{receiver.last_name}}</p>
                    {%endif%}
                    <p class="card-text">iBAN: {{trans.receiving_account}}
                </div>
            </div>
        </div>
        </p>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">Überweisungsdetails</div>
                <div class="card-body">
                    <p class="card-text">Verwendungszweck: {{trans.usage}}</p>
                    <p class="card-text">Zeitpunkt: {{time}}</p>
                    <p class="card-text">Betrag: {{trans.amount}}</p>
                    {% if trans.approved %}
                        <span class="badge rounded-pill bg-success">Überweisung bestätigt</span>
                    {% else %}
                        <span class="badge rounded-pill bg-warning">Überweisung wartet auf Bestätigung</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if not trans.approved or trans.standing_order %}
        <p>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Überweisung löschen</h5>
                    <form action="deletetransaction" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{trans.id}}">
                        <button type="submit" class="btn btn-danger" style="margin-top: 20px">Löschen</button>
                    </form>
                </div>
            </div>
        </div>
        {%endif%}
    <p>
    <div>
</div>

{% endblock %}