<!-- TODO -->
{% extends 'base_layout.html' %} {% block stylecontent %}
<style>
  a:hover {
    text-decoration: none;
  }
  .foot {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
</style>
<link rel="stylesheet" href="/static/common-styles.css" />
{% endblock %} {% block bodycontent %}
<div class="container text-center">
  {% if user.is_authenticated %}
  <h1>Willkommen {{ user.username }}!</h1>
  <h4><em>Uns können Sie vertrauen.</em></h4>
  {% else %}
  <h1>Willkommen bei Mega Gute Bank</h1>
  <h4><em>Uns können Sie vertrauen.</em></h4>
  {% endif %}
</div>
<br />
<div class="container">
  <h3>Transaktionen und Daueraufträge</h3>
  {% if user.is_authenticated %}
  <div class="card border-primary" style="border-radius: 20px;">
    <h4 class="card-header">Filter:</h4>
    <!-- Datepicker for startdate and enddate filter-->
    <div class="card-body">
      <div class="row card-text">
        <div class="col-md-6">
          <div class="form-group">
            <label for="startdate">Startdatum:</label>
            <input
              type="date"
              class="form-control"
              id="startdate"
              name="startdate"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="enddate">Enddatum:</label>
            <input
              type="date"
              class="form-control"
              id="enddate"
              name="enddate"
            />
          </div>
        </div>
      </div>
      <br />
      <button type="button" class="btn btn-primary" id="filter" name="filter">
        Filter anwenden
      </button>
      <button
        type="button"
        class="btn btn-danger"
        id="deletefilter"
        name="deletefilter"
      >
        Alle Filter löschen
      </button>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="card border-primary" style="border-radius: 20px">
    {% if startDate and endDate %}
    <h4 class="card-header">
      Transaktionen von {{startDate}} bis {{endDate}}:
    </h4>
    {% else %}
    <h4 class="card-header">Transaktionen:</h4>
    {% endif %}
    <div class="card-body">
    <h4 style="text-align:right">Guthaben nach Zeitraum: {{ endBalance }}</h4>
      <table class="table table-hover table-dark" id="transactions">
        <thead>
          <tr>
            <th scope="col" onclick="sortTable(0)">Empfänger</th>
            <th scope="col" onclick="sortTable(1)">Ausgeführt am</th>
            <th scope="col" onclick="sortTable(2)">Zielkonto</th>
            <th scope="col" onclick="sortTable(3)">Zweck</th>
            <th scope="col" onclick="sortTable(4)">Betrag</th>
            <th scope="col" onclick="sortTable(7)">Details</th>
          </tr>
        </thead>
        <tbody>
          {% for trans in trans %}
          <tr class="table-primary">
            <th scope="row">{{trans.name_receiver}}</th>
            <th scope="row">{{trans.timestamp}}</th>
            <th scope="row">{{trans.iban_receiver}}</th>
            <th scope="row">{{trans.reference}}</th>
            {% if trans.amount < 0%}
            <th scope="row" class="text-danger">{{trans.amount}}</th>
            {%else%}
            <th scope="row" class="text-success">{{trans.amount}}</th>
            {%endif%}
            <!--edit button-->
            <th scope="row">
              <a href="/accounts/transactions/detail/{{trans.id}}"
                ><button class="btn btn-danger btn-block" id="sign_in">
                  <i class="fa fa-sign-in"></i> Details
                </button></a
              >
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h4 style="text-align:right">Guthaben vor Zeitraum: {{ startBalance }}</h4>
    </div>
    {% else %}
    <a href="/accounts/register"
      ><button class="btn btn-primary btn-block" id="acc">
        <i class="fa fa-user"></i> Neuen Bankaccount erstellen
      </button></a
    >
    <br />
    <a href="accounts/login/"
      ><button class="btn btn-danger btn-block" id="sign_in">
        <i class="fa fa-sign-in"></i> Einloggen
      </button></a
    >
    {% endif %}
  <!-- Pagination-->
  {% if trans.has_other_pages %}
    <ul class="pagination">
    {% if trans.has_previous %}
        <li><a class="page-link" href="?{{ argstr }}&page={{ trans.previous_page_number }}">&laquo;</a></li>
    {% else %}
        <li class="page-link disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in trans.paginator.page_range %}
        {% if trans.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
        {% else %}
            <li><a class="page-link" href="?{{ argstr }}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if trans.has_next %}
        <li><a class="page-link" href="?{{ argstr }}&page={{ trans.next_page_number }}">&raquo;</a></li>
    {% else %}
        <li class="page-link disabled"><span>&raquo;</span></li>
    {% endif %}
    </ul>
{% endif %}

  </div>
</div>
<br>
<script>
  // when user presses on filter button, the user will be redirected to the filtered transactions page
  document.getElementById("filter").addEventListener("click", function () {
    var startdate = document.getElementById("startdate").value;
    var enddate = document.getElementById("enddate").value;
    window.location.href =
      "/accounts/transactions/?startDate=" + startdate + "&endDate=" + enddate;
  });
  document
    .getElementById("deletefilter")
    .addEventListener("click", function () {
      window.location.href = "/accounts/transactions/";
    });
  function sortTable(n) {
    var table,
      rows,
      switching,
      i,
      x,
      y,
      shouldSwitch,
      dir,
      switchcount = 0;
    table = document.getElementById("transactions");
    switching = true;
    // Set the sorting direction to ascending:
    dir = "asc";
    /* Make a loop that will continue until
     no switching has been done: */
    while (switching) {
      // Start by saying: no switching is done:
      switching = false;
      rows = table.rows;
      /* Loop through all table rows (except the
       first, which contains table headers): */
      for (i = 1; i < rows.length - 1; i++) {
        // Start by saying there should be no switching:
        shouldSwitch = false;
        /* Get the two elements you want to compare,
         one from current row and one from the next: */
        x = rows[i].getElementsByTagName("th")[n];
        y = rows[i + 1].getElementsByTagName("th")[n];
        /* Check if the two rows should switch place,
         based on the direction, asc or desc: */
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // If so, mark as a switch and break the loop:
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        /* If a switch has been marked, make the switch
         and mark that a switch has been done: */
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        // Each time a switch is done, increase this count by 1:
        switchcount++;
      } else {
        /* If no switching has been done AND the direction is "asc",
         set the direction to "desc" and run the while loop again. */
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>
{% endblock %}