{% extends 'base_layout.html' %}

{% block stylecontent %}
    <style>
        h1 {
            border-bottom: 1px solid;
        }
        h4 {
            font-weight: 400;
        }
        a:hover {
            text-decoration: none;
        }
        
        .foot {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
{% endblock %}
        

{% block bodycontent %}    
    <div class="container text-center">
        <h1>Loggen Sie sich ein.</h1>
        <h4><em>Uns können Sie vertrauen.</em></h4>
    </div>
    
    <br>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-danger btn-block" type="submit" id="sign_in"><i class="fa fa-sign-in"></i> Einloggen</button>
        </form>
    </div>
    <br>
{% endblock %}
